body {
    background: #f8f9fa;
    color: #202122;
    font-size: 'Georgia', 'Times', serif;
}

h1, h4 {
    text-align: center;
}

h4 {
    display: inline-block;
}
footer {
    text-align: center;
}