* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    height: 100vh;  

    display: flex;
    flex-direction: column;
    text-align: center;

}


header, aside {
    background-color: #6cd9f5;
}

header, footer, .conteudo {
    width: 100%;
}

header, footer, aside, .conteudo {
    padding: 15px;
}

.conteudo {
    flex-grow: 1;
    display: flex;
}


main {
    padding: 0 64px;
    background-color: #f56cde;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cards {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .card {
    flex-basis: 160px;
    height: 280px;
    font-size: 16px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .botao {
    width: 100%;
    height: 16px;
    background-color: black;
  }
  


footer {
    border: 1px solid red;
    background-color: #6cf56c;
}

